<%- include('../partials/header') %>

    <div class="center row text-center">
        <h2>All <%= username %>'s Books</h2>
        <hr>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach(function(b) {%>
                    <tr>
                        <td scope="row">
                            <a href="/books/<%= b.id %>" class="btn btn-primary"><%= b.title %></a>
                        </td>
                    </tr>
                    <% }) %>
                    
                </tbody>
                <tbody>
                    <tr>
                        <td scope="row">
                            
                            <a href="/books" class="btn btn-info">Back to All Books</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>

    <%- include('../partials/footer') %>