<%- include('../partials/header') %>

<div class="container">
    <h2><%= book.title %></h2>
    <h2><%= book.genre %></h2>
    <h2><%= book.author %></h2>
    <h2><%= book.publishedDate %></h2>
</div>


<%- include('../partials/footer') %>