<%- include('../partials/header') %>

<div class="container center text-center">
    <h2><%= book.title %></h2>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Genre</th>
                <th scope="col">Author</th>
                <th scope="col">Pulished</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"><%= book.title %></td>
                <td scope="row"><%= book.genre %></td>
                <td scope="row"><%= book.author %></td>
                <td scope="row"><%= book.publishedDate %></td>
            </tr>
        </tbody>
    </table>

<% if (loggedIn) {%>
    <h5>Add this to your books?</h5>
    <% if (user.books.indexOf(book.id) === -1) { %>
    <form action="/books/add" method="POST">
        <input hidden type="text" name="id" value="<%= book.id %>">
        <input type="submit" class="btn btn-primary" value="Add Book">
    </form>
    <% } else { %>
    <form action="/books/remove/<%= book.id %>?_method=DELETE" method="POST">
        <input type="submit" class="btn btn-primary" value="Remove Book">
    </form>
    <% } %>
    <% } else { %>
        <p>Log in to add a book!</p>
        <% } %>

    <br><br><h2>Reviews</h2>
    <form id="add-review-form" method="POST"
        action="/reviews/<%= book.id %>">
        <label>Review:</label>
        <textarea name="content"></textarea>
        <label>Rating:</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="submit" value="Add Review">
    </form>


        <% if (book.owner == userId) {%>
            <hr>
            <div class="container d-inline-flex justify-content-center">
                <form class="me-3" action="/books/update/<%= book._id %>?_method=PUT" method="POST">
                    <fieldset class="form-control">
                        <input  type="text" name="title" value="<%= book.title %>">
                        <input  type="text" name="genre" value="<%= book.genre %>">
                        <input  type="text" name="author" value="<%= book.author %>">
                        <input  type="text" name="publishedDate" value="<%= book.publishedDate %>">
                        <input type="submit" class="btn btn-success" value="Update Book">
                    </fieldset>
                </form>
                <form class="me-3" action="/books/delete/<%= book._id %>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete this book">
                </form>
            </div>
        <% } %>
<hr>
<a href="/books" class="btn btn-primary">Back to All Books</a>
</div>
<%- include('../partials/footer') %>