<%- include('../partials/header') %>

<div class="container">
    <h2><%= book.title %></h2>
    <h2><%= book.genre %></h2>
    <h2><%= book.author %></h2>
    <h2><%= book.publishedDate %></h2>
</div>
<a href="/books" class="btn btn-primary">Back to All Books</a>

<%- include('../partials/footer') %>